[Unit]
Description=Natter daemon
After=network.target syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/natter -c natter-config.json
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=2
StartLimitInterval=0
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
