[Unit]
Description=Natter daemon
After=network.target syslog.target

[Service]
Type=simple
EnvironmentFile=/etc/natter/natter.ini
ExecStart=/usr/bin/natter $SRC_HOST $SRC_PORT
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=5
StartLimitInterval=0
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
