[Unit]
Description=Natter daemon
After=network.target syslog.target

[Service]
Type=simple
ExecStart=/usr/sbin/natter
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=2
StartLimitInterval=0
RestartForceExitStatus=143 137

[Install]
WantedBy=multi-user.target
